{% extends "main.html" %}

{% block content %}
{% comment %} {% for flight in flights %} {% endcomment %}
{% comment %} <div>
    <h1>{{ flight.airline }} ({{ flight.flight_number }})</h1>
    <h2>From: {{ flight.source }} | To {{ flight.destination }}</h2>
    <h3>Departure: {{ flight.departure_time }} | Arrival: {{ flight.arrival_time }}</h3>
    <h2>Price: {{ flight.price }}</h2>
    <a href="{% url "book_flight" flight.id %}">Book this flight</a>
</div> {% endcomment %}

<div class="container py-3">
    <div class="card my-3 mx-auto" style="max-width: 600px;">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ flight.airline }} ({{ flight.flight_number }})</h5>
                <p class="card-text">From: {{ flight.source }} | To {{ flight.destination }}</p>
                <p class="card-text">Departure: {{ flight.departure_time }} | Arrival: {{ flight.arrival_time }}</p>
                <h5 class="card-title">Price: {{ flight.price }}</h5>
                <a href="{% url "book_flight" flight.id %}" class="btn btn-primary">Book this flight</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>
</div>

{% comment %} {% endfor %} {% endcomment %}
{% endblock content %}